#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #fefbf8;
    color: #2553af;
    overflow-y: 'scroll';
}

#signout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%;
    /* margin-bottom: 20%; */
    cursor: pointer;
    font-size: 0.75rem;
}

#hello-text {
    /* position: relative; */
    font-size: min(6vw, 3rem);
    /* top: 20; */
    margin-top: max(5vh, 65px);
    margin-bottom: 2%;
    /* margin-left: 5%;
    margin-right: 5%; */
}

#description-text {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    width: min(900px, 96vw);
}

#learn-more-text {
    margin-top: 2%;
    margin-bottom: 2%;
    color: #31646e;
    cursor: pointer;
}

#cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* margin-top: 2%; */
}

.card {
    width: 200px;
    height: max(14vh, 120px);
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    padding-left: 2vh;
    padding-right: 2vh;
    overflow-y: 'scroll';
}

.card-title {
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 4%;
    color: #2553af;
    /* font-size: 8vh; */
}

.card-content {
    color: #2553af;
    font-size: 14px;
}


