#login-container {
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#image {
    display: inline-block;
    width: 50%;
    height: 100%;
}

#main-content {
    display: inline-block;
    width: 40%;
    position: absolute;
    padding:  5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-content-mobile {
    display: flex;
    width: 90vw;
    height: 90vh;
    position: absolute;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fields-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#login-text {
    /* width: 100vw; */
    padding-bottom: 10%;
}

#login-text-mobile {
    /* width: 100vw; */
    /* width: 90%; */
    text-align: center;
    padding-top: 10%;
}

.text-field {
    width: 100%;
}

#login-button {
    width: 100%;
    text-transform: unset;
    margin-top: 30%;
    background-color: #2553af;
    border-radius: 10px;
}

#login-button-mobile {
    width: 100%;
    text-transform: unset;
    margin-top: 30%;
    background-color: #2553af;
}

#signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#or-text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin-top: 3%;
    color: gray;
}

.or-text-hr {
    width: 40%;
    color: gray;
    height: hairline;
}

#signup-text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
    color: gray;
}

#signup-button {
    /* height: 20%; */
    cursor: pointer;
    font-weight: bold;
    text-transform: unset;
    color: #2553af;
    padding-left: 2%;
}

#forgot-password-button {
    cursor: pointer;
    text-transform: unset;
    color: #2553af;
    padding-left: 2%;
    align-self: flex-start;
}
